@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500;600&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-attachment: fixed;
  background-position: top left;
  background-repeat: repeat;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
